<h1>People</h1>

<% @people.each do |person| %>

<%= link_to 'Show Person', person_path(person) %>
<%= link_to 'Edit Person', edit_person_path(person) %><br/>
<% end %>

<%= link_to 'New Person', new_person_path %>

